
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThanksForYourParticipation</title>
</head>
<body>
    <div style="text-align:center; text-decoration:solid,double"> 
        <hr />
        Спасибо за участие в тестировании!
        <hr />
    </div>
</body>
</html>
