@model TestService.Domain.Entities.PersonalLink

<span class="input-group-addon" id="basic-addon3">@ViewBag.Host/PerformTheTest/VerifyPersonalLink/</span>
<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="@Model.HashedPersonalLink" placeholder="Здесь сгенерируется персональная ссылка" />
